#MAC system files
.DS_Store

# Python
__pycache__/
*.pyc
*.py[cod]
*$py.class
venv/
.env

# Machine Learning Artifacts
*.pth
*.pt
ml_experiments/data/
ml_experiments/runs/

# IDEs
.vscode/
.idea/

#Docker
.dockerignore

#Model
models/